

.details{
  min-height: 100vh;
}

/* details layout */
.details-layout {
    display: grid;
    grid-template-columns: 35% 60%;
    min-height: 100vh;
}

.details-media {
    position: sticky;
    top: 0;
    height: 100vh;
    background: #CCD5AE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-image img {
    max-width: 90%;
    max-height: 80%;
    object-fit: contain;
}

/* right side */
.details-content {
  min-width: 0;
  padding: 80px 60px;
}

/* title section */
.details-top {
  top: 24px;
  z-index: 5;
  padding: 18px 158px 14px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.104);
}

.details-kicker {
  margin: 0 0 10px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.6;
}

.title-row {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* Favorites button */
.fav-btn{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.fav-btn img{
  width: 22px;
  height: 22px;
}

/* when not active */
.fav-btn .full {
  display: none;
}

/* hover */
.fav-btn:hover{
  transform: scale(1.08);
}

.fav-btn:hover img{
  opacity: 1;
}

/* When active */
.fav-btn .active .empty{
display: none;
}

.fav-btn .active .full{
  display: block;
}

/* plant tittle */
.details-tittle {
  margin: 0 0 12px;
  font-size: clamp(34px, 3.4vw, 56px);
  line-height: 1.05;
  font-family: 'Rosehot';
}

/* Chips */
.details-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.chip {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  border:  1px solid rgba(0, 0, 0, 0.88);
  border-radius: 999px;
  font-size: 14px;
  line-height: 1;
  background: rgba(255, 255, 255, 0.25);
}

.chip-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  opacity: 0.8;
}

/* content */
.details-sctions {
  max-width: 620px;
  margin: 0 auto;

}


.details-card {
  border-radius: 22px;
}

/* content tittles */
.detail-h {
  margin: 80px 0 18px;
  font-size: 32px;
  font-weight: 500;
  font-family: 'Rosehot';
  letter-spacing: 0.02em;
}

/* line */
.detail-h::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  margin-top: 8px;
  background: #7fa35a;
  border-radius: 2px;
}

/* space between sections */
.detail-card + .detail-card{
  margin-top: 32px;
}

@media (max-width: 768px) {.detail-h {font-size: 18px;}}

/* name section */
.plant-name {
  padding: 24px 0;
}

.name-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 16px;
}

.name-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.name-label {
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #6b6b6b;
}

.name-value {
  font: 1rem;
  line-height: 1.6;
  color: #222;
}
/* care section */
.care-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0;
  padding: 18px 14px;
  border-radius: 16px;
}

/* | line  */
.care-grid::after {
  content: "";
  position: absolute;
  top: 14px;
  bottom: 14px;
  left: 50%;
  width: 1px;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.25);
}

/* __ line */
.care-grid::before {
  content: "";
  position: absolute;
  left: 14px;
  right: 14px;
  top: 50%;
  height: 1px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.25);
}

.care-box {
  padding: 24px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.care-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.care-icon {
  width: 68px;
  height: auto;
  display: block;
  opacity: 0.9;
}

.care-lable {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.9;
  font-family:  Geneva;
}

.care-value {
  margin-top: 6px;
  font-size: 15px;
  color: #555;
  line-height: 1.6;
  opacity: 0.7;
}

@media (max-width: 700px) {
  .care-grid {
    grid-template-columns: 1fr;
  }
  .care-grid::after, .care-grid::before {
    display: none;
  }
}

.detail-text {
  max-width: 520px;
  font-size: 16px;
  line-height: 1.7;
  color: #2f2f2f;
  margin-top: 12px;
}

/* tips section */
.tips {
  border-radius: 22px;
}

.tips-grid {
  display: grid;
  position: relative;
  grid-template-columns: 33% 33% 33%;
  gap: 0;
  padding: 18px 14px;
}

.tips-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 20px;
  gap: 15px;
  min-height: 130px;
  position: relative;
}

.tips-icon {
  width: 78px;
  height: auto;
  display: block;
  opacity: 0.8;
  align-self: center;
}

.tips-text {
  margin-top: 6px;
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  padding: 0 10px;
}


/* | lines */
.tips-card:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 15%;
  right: -1px;
  width: 1px;
  height: 80%;
  background: rgba(0, 0, 0, 0.25);
}

/* plant profile section */
.plant-facts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin: 20px 0 30px;
}

.fact {
  text-align: center;
}

.fact-label {
  display: block;
  font-size: 12px;
  letter-spacing: 0.08em;
  color: #7a7a7a;
  margin-top: 6px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.fact-value {
  font-size: 15px;
  font-weight: 500;
  color: #2f2f2f;
}

/* recommendations */
.recommendations {
  margin: 80px 0;
}

.recommend-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.plant-card {
  position: relative;
  display: flex;
  align-items: center;
  width: 250px;
  gap: 10px;
  margin-top: 40px;
  background: #fffef2;
  border: 1px solid rgba(0, 0, 0, 0.88);
  border-radius: 25px;
  padding: 0 24px;
  overflow: visible;
  transition: background 0.3s ease, transform 0.3s ease;
  text-decoration: none;
}


.plant-card img {
  width: 95px;
  flex-shrink: 0;
  transition: transform 0.35s ease;
  position: relative;
  z-index: 2;
}


.plant-card h3 {
  font-size: 16px;
  color: #1f1f1f;
  margin: 0;
  position: relative;
  z-index: 2;
}


/* Hover */
.plant-card:hover {
  background: #87ad60;
  transform: translateY(-6px);
}

.plant-card:hover img {
  transform: scale(1.4) translateY(-30px);
}

.plant-card:hover h3 {
  color: #ffffff;
  font-size: 20px;
}

/* plant img  */
@media (max-width: 768px){
  .details-layout, .details-main, .plant-details-layout{
    display: grid;
    grid-template-columns: 1fr !important;
  }

  .details-left, .details-media, .plant-image-side{
    position: static !important;
    height: auto !important;
  }
}

